<suite name="Suite">
    <test name="Test">
        <classes>
            <class name="railway.TestCaseAdditionalPagesDisplayAfterLogin"/>
            <class name="railway.TestCaseManageTicket"/>
            <class name = "railway.TestCaseLogin"/>
            <class name ="railway.TestCaseLoginWithNoneExistentAccount"/>
            <class name ="railway.TestCaseCreateNewAccount"/>
            <class name ="railway.TestCaseOpenBookTicketFromTimeTable"/>
            <class name ="railway.TestCaseChangePassword"/>.
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
